@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */

.margin{
  max-width: 1440px;
  margin: 0px auto;
  align-items: center;
}
.display-flex{
  display: flex;
}
.text-orange{
  color: #FEA301;
}
.text-sky-blue{
  color: #01ACFD;
}
.text-turq{
  color: #05D4DF;
}
.text-lav{
  color: #5D58EF;
}
.hb{
  width: 40px;
  height: 40px;
  display: none;
  border: none;
  background-color: white;
  font-size: 2rem;
  align-items: center;
  margin-top: 12px;
  font-weight: 600px;
}
.btn-primary{
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background-color: #FEA301;
  color: white;
  font-size: 1.25rem;
  font-weight: 600px;
  border: none;
}
.btn{
  align-items: center;
  justify-content: center;
}
/* Navbar styles */


.navbar{
  padding: 20px 0px 20px 0px;

}
.nav{
  justify-content: space-between;
  
}

.nav ul li{
  list-style: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.nav-line{
  gap: 32px;
}
.nav-school{
  font-size: 2rem;
  font-weight: bolder;
  
}
.logo{
  align-items: center;
}



/* Responsive Styles */
@media screen and (max-width:576px){
  .nav-content, .btn-primary {
    display: none;
  }
  .navbar{
    border: .5px solid #FEA301;
    margin: -8px;
  }
  .nav-school{
    display: none;
  }
  .hb {
    display: block;
  }
  

}